@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
}

/* modal */
#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  /* padding: 15px;
  border-radius: 30px; */
  background: rgb(3,70,148);
  background: linear-gradient(90deg, var(--blue) 0%, var(--lightBlue) 49%, var(--white) 100%);
  color: var(black);
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
/* modal */